{% extends "base.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/lista_presentes.css' %}" type="text/css">
{% endblock %}

{% block corpo %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'images/capa/lista_presente.png' %}" alt="Capa do Lista de Presentes.">
    </div>
  </div>
</div>
<div class="section-descricao">
  <div class="text-title">
    <h1 class="text-center">LISTA DE PRESENTES</h1>
  </div>
  <div class="row text-descricao">
    <h5>
      Olá amigos! Que bom ter vocês aqui conosco! Está chegando um momento tão esperado para nós: começar a nossa família. E, para isso, temos um desafio enorme pela frente: montar nossa primeira casinha.
      Como vocês já sabem, vamos morar na Amazônia, na cidade de Maués. Então não iremos receber os presentes fisicamente pois o custo da logística para levar todas as coisas não é viável.
      Então escolhemos uma loja local da região de nossa confiança e baseamos os preços dos presentes por ela.
      Você tem a opção de: parcelar conosco o valor até a data do casamento, comprar pelo site da loja especificando a retirada em nosso nome, pagar à vista ou esperar chegarmos lá para enviar o pix. Fique a vontade!
      Escolha o presente e marque com seu nome para termos ideia de quais presentes ganharemos neste tempo. Após a escolha, entre em contato conosco caso haja dúvida de como fazer. Obrigado por ser parte desse sonho junto conosco!
      Deus abençoe sua vida 🙏🏻❤️
    </h5>
  </div>
</div>
<div class="section-menus">
  <div class="container-fluid">
    <div class="row">
      {% for lista_presente in lista_presentes %}
      <div class="compos col-lg-2 col-sm-6">
        <div class="card" id="{{ lista_presente.id }}">
            {% if not lista_presente.presente %}
              <a class="tile" href="{% url 'lista_presentes:exibe_salva_presente' lista_presente.id %}">
              <img class="card-img" src="/media/{{ lista_presente.foto }}">
              </a>
            {% else %}
                <img class="card-img presenteado" src="/media/{{ lista_presente.foto }}">
                <div class="card-img-overlay">
                  <h4 class="card-title text-center">JÁ PRESENTEADO</h4>
                </div>
            {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}