body {
   font-family: 'Poppins', sans-serif;
   box-shadow: 0 4px 12px -2px rgba(#6B75A1, .16);
}

.section-intro {
    background-color: #F0F8FF;
    position: relative;
}

.capa {
    padding-top: 20px;
}

.section-menus {
    padding: 20px;
}