.section-titulo {
    width: 100%;
    padding: 60px;
}

.text-title{
    padding-top: 50px;
}

.text-title h4 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.section-exibe-presente {
    padding-right: 30px;
    padding-left: 30px;
    height: 100%;
    padding-bottom: 40px;
}

.compos {
    padding-bottom: 40px;
}

.section-exibe-presente .card-img {
    width: 60%;
    height: 300px;
    filter: brightness(90%);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section-menus .card-title {
    font-family: 'Nunito', sans-serif;
    color: white;
    font-weight: bold;
    margin-top: 50%;
}

.section-menus .presenteado {
    filter: brightness(30%);
}

.alerta {
    padding-top: 20px;
}
.form-presente div {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.form-group input {
    width: 100%;
}
.submit {
    font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 1023px){
    .carousel {
        height: 300px;
    }
    .carousel img{
        height: 300px;
    }
    .section-descricao {
        padding: 30px;
    }
    .text-tile {
        padding: 10px;
    }
    .text-title h1{
        font-size: 24px;
    }
    .text-descricao {
        font-family: 'Nunito', sans-serif;
        padding: 0px;
        text-align: justify;
    }
    .section-menus {
        padding: 0px;
        height: 100%;
    }
    .section-menus .card-img {
        height: 300px;
    }
    .section-menus .card-title {
        margin-top: 70%;
    }
    .compos {
        padding: 10px;
    }
}