{% extends "base.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/ide.css' %}" type="text/css">
{% endblock %}

{% block corpo %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'images/capa/ide.png' %}" alt="Capa do Ide.">
    </div>
  </div>
</div>
<div class="section-descricao">
  <div class="text-title">
    <h1 class="text-center">{{ ide.titulo }}</h1>
  </div>
  <div class="row text-descricao">
    <h5>
        {{ ide.texto }}
    </h5>
  </div>
</div>
{% endblock %}