{% extends "base.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/ide.css' %}" type="text/css">
{% endblock %}

{% block corpo %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'images/capa/ide.png' %}" alt="Capa do Ide.">
    </div>
  </div>
</div>
<div class="section-descricao">
  <div class="text-title">
    <h1 class="text-center">{{ ide.titulo }}</h1>
  </div>
  <div class="row text-descricao">
    <h5>
        {% for i in texto %}
            {{ i }}
            </br></br>
        {% endfor %}
    </h5>
  </div>
</div>
<div class="galeria">
  {% for imagem in imagens_ide %}
    <div class="img">
      <a target="_blank" href="/media/{{ imagem.foto }}">
        <img src="/media/{{ imagem.foto }}" alt="{{ imagem.titulo }}" width="300" height="200">
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}